<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="global" label="COM_DUMMY_GLOBAL_CONFIGURATION">
		<field
				name="json_rpc_api"
				type="text"
				label="COM_DUMMY_CONFIG_JSON_RPC_API"
				default="http://all6.demo.php/pegasus-mobile-sales-service/server.php"
		/>
		<field
				name="json_rpc_api_user"
				type="text"
				label="COM_DUMMY_CONFIG_JSON_RPC_API_USER"
				default="testken4@contemi.com"
		/>
		<field
				name="json_rpc_api_pass"
				type="text"
				label="COM_DUMMY_CONFIG_JSON_RPC_API_PASS"
				default="Palomino1"
		/>
	</fieldset>
	<fieldset name="vardia" label="COM_DUMMY_VARDIA_CONFIGURATION">
		<field
				name="search_customer_api"
				type="text"
				label="COM_DUMMY_CONFIG_SEARCH_CUSTOMER_API"
		/>
		<field
				name="get_policies_api"
				type="text"
				label="COM_DUMMY_CONFIG_GET_POLICIES_API"
		/>
		<field
				name="get_quotes_api"
				type="text"
				label="COM_DUMMY_CONFIG_GET_QUOTES_API"
		/>
	</fieldset>
</config>
