<?xml version="1.0" encoding="utf-8"?>
<config>
	<fieldset name="global" label="COM_DUMMY_GLOBAL_CONFIGURATION">
		<field
				name="JSON_RPC_API"
				type="text"
				label="JSON_RPC_API"
				description="COM_DUMMY_GLOBAL_CONFIGURATION"
				default="http://all6.demo.php/pegasus-mobile-sales-service/server.php"
		/>
		<field
				name="JSON_RPC_API_USER"
				type="text"
				label="JSON_RPC_API_USER"
				description="COM_DUMMY_GLOBAL_CONFIGURATION"
				default="testken4@contemi.com"
		/>
		<field
				name="JSON_RPC_API_PASS"
				type="text"
				label="JSON_RPC_API_PASS"
				description="COM_DUMMY_GLOBAL_CONFIGURATION"
				default="Palomino1"
		/>
	</fieldset>
</config>
